/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-lwtv-grade {
    border: 1px solid $lwtv-bordergrey;
    border-left-width: .25rem;
    border-radius: .25rem;
    border-left-color: $lwtv-pink;
}

.show-grade {
    .body {
        margin-top: 0px
    }
    .grade {
        color: #0c5460;
        background-color: #d1ecf1;
        border-color: #bee5eb;
        position: relative;
        padding: 0.75rem 1.25rem;
        margin: 28px 15px;
        border: 1px solid transparent;
        border-radius: 0.25rem;
    }
}
