/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

 $lwtv-bordergrey: rgba(0,0,0,.125);
 $lwtv-pink: #d1548e;

.bd-callout.show-grade {
    border: 1px solid $lwtv-bordergrey;
    border-left-width: .25rem;
    border-radius: .25rem;
    border-left-color: $lwtv-pink;
}

.show-grade {
    .body {
        margin-top: 0px!important;

        p {
            margin: 10px 10px 0px 0px!important;
        }
    }
    .grade {
        color: #0c5460;
        background-color: #d1ecf1;
        border-color: #bee5eb;
        position: relative;
        padding: 0.75rem 1.25rem;
        margin: 0px 15px 0px 0px!important;
        border: 1px solid transparent;
        border-radius: 0.25rem;
    }
}
