<?xml version="1.0"?>
<ruleset name="LezWatch.TV Coding Standards">
    <description>A custom ruleset to take in account both WordPress and Lesbian standards.</description>
    <rule ref="WordPress-Extra">
        <exclude name="WordPress.Files.FileName.InvalidClassFileName" />
        <exclude name="WordPress.Files.FileName.NotHyphenatedLowercase" />
        <exclude name="WordPress.WP.DiscouragedFunctions.wp_reset_query_wp_reset_query" />
        <exclude name="WordPress.WP.I18n.NonSingularStringLiteralSingle" />
        <exclude name="WordPress.WP.I18n.NonSingularStringLiteralPlural" />
        <exclude name="WordPress.PHP.DiscouragedPHPFunctions.obfuscation_base64_encode" />
        <exclude name="WordPress.WP.AlternativeFunctions.file_get_contents_file_get_contents" />
        <exclude name="WordPress.PHP.DevelopmentFunctions.error_log_trigger_error" />
        <exclude name="WordPress.WP.AlternativeFunctions.file_system_read_file_get_contents" />
    </rule>
</ruleset>
