<?xml version="1.0"?>
<ruleset name="LezWatch.TV Coding Standards">
	<description>A custom ruleset to take in account both WordPress and Lesbian standards.</description>
	<file>.</file>

	<arg name="extensions" value="php" />
	<arg name="colors" />
	<arg value="s" /><!-- Show sniff codes in all reports. -->
	<arg value="p" /><!-- Show progress. -->

	<!-- Rules: Check PHP version compatibility -->
	<!-- https://github.com/PHPCompatibility/PHPCompatibility#sniffing-your-code-for-compatibility-with-specific-php-versions -->
	<config name="testVersion" value="8.1-"/>
	<!-- https://github.com/PHPCompatibility/PHPCompatibilityWP -->
	<rule ref="PHPCompatibilityWP"/>

	<!-- Rules: WordPress Coding Standards -->
	<config name="minimum_supported_wp_version" value="6.4"/>
	<rule ref="WordPress-Extra">
		<exclude name="WordPress.Files.FileName.InvalidClassFileName" />
		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase" />
		<exclude name="WordPress.WP.DiscouragedFunctions.wp_reset_query_wp_reset_query" />
		<exclude name="WordPress.WP.I18n.NonSingularStringLiteralSingle" />
		<exclude name="WordPress.WP.I18n.NonSingularStringLiteralPlural" />
		<exclude name="WordPress.PHP.DiscouragedPHPFunctions.obfuscation_base64_encode" />
		<exclude name="WordPress.WP.AlternativeFunctions.file_get_contents_file_get_contents" />
		<exclude name="WordPress.PHP.DevelopmentFunctions.error_log_trigger_error" />
		<exclude name="WordPress.WP.AlternativeFunctions.file_system_read_file_get_contents" />
		<exclude name="WordPress.WP.DeprecatedFunctions.sanitize_urlFound" />
		<exclude name="WordPress.PHP.DisallowShortTernary.Found" />
	</rule>

	<rule ref="WordPress.Security.EscapeOutput">
		<properties>
			<property name="customAutoEscapedFunctions" value="LWTV_Features,symbolicons" type="array" />
		</properties>
	</rule>

	<rule ref="PSR2.Classes.PropertyDeclaration.Underscore">
	<exclude-pattern>class-gf-approvals.php</exclude-pattern>
	</rule>

	<!-- Unit Tests -->
	<exclude-pattern>*/tests/*</exclude-pattern>
	<exclude-pattern>*/bin/*</exclude-pattern>

	<!-- Node and Vendor -->
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>

	<!-- Blocks -->
	<exclude-pattern>*/blocks/build/*</exclude-pattern>

	<!-- Extensions - not written by us. -->
	<exclude-pattern>*/facetwp-cmb2/*</exclude-pattern>
	<exclude-pattern>*/cmb2-grid/*</exclude-pattern>
	<exclude-pattern>*/cmb-field-select2/*</exclude-pattern>

	<!-- External Libraries -->
	<exclude-pattern>*/ICal/*</exclude-pattern>
</ruleset>
