#cws-wp-help-document {
    max-width: 600px;
    margin-left: 300px;
    background: white;
    padding: 10px!important;
	border: 1px solid #ddd;
}

div#cws-wp-help-document p,
#cws-wp-help-listing ul li {
    font-size: 14px;
}