.wrap .notice {
	background: #fff;
	border-left: 4px solid #fff;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
	margin: 5px;
	padding: 1px 12px;
}

.wrap .notice p {
	margin: .5em 0;
	padding: 2px;
}

.wrap .notice p:before {
	margin-right: 6px;
	vertical-align: bottom;
}

.wrap .notice-error {
	border-left-color: #dc3232;
}

.wrap .notice-info {
	border-left-color: #00a0d2;
}

.wrap .notice-warning {
	border-left-color: #ffb900;
}

.wrap .notice-updated,
.wrap .notice-success {
	border-left-color: #46b450;
}