.author-box {
  background-color: #ebf5fa;
  font-size: 0.875rem;
}
.author-box .avatar {
  border: 1px solid #d1548e;
}
.author-box .author-bio {
  margin-bottom: 0.4rem;
}
.author-box .author-details {
  clear: both;
}
.author-box .fa {
  text-align: center;
  width: 16px;
}
.author-box svg {
  width: 15px;
  height: 15px;
  vertical-align: middle;
}
