#adminmenu .wp-menu-image img {
	opacity: 1;
}

.gform_editor .gform_lwtvlocation input, .gform_editor .gform_lwtvlocation label {
	opacity: .6;
}

span.symbolicons svg {
	width: 100px;
}

span.success svg  * {
	fill: #5cb85c!important;
}

span.failure svg  * {
	fill: #c0392b!important;
}

span.warning svg  * {
	fill: #f1c40f!important;
}

.monitor {
	display: flex;
	padding: 0.5rem 0.75rem;
}

.monitor.status {
	display: inline;
}

span.cmb2-icon {
	width: 80px;
	display: inline-block;
	vertical-align: top;
	margin: 10px;
	word-wrap: break-word;
}
span.cmb2-icon svg {
	width: 75px;
	height: 75px;
}
span.cmb2-icon svg * {
	fill: #444!important;
}