/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

$lwtv-bordergrey: rgba(0,0,0,.125);
$lwtv-pink: #d1548e;

.bd-callout.show-grade {
	border: 1px solid $lwtv-bordergrey;
	border-left-width: .25rem;
	border-radius: .25rem;
	border-left-color: $lwtv-pink;
	max-width: 840px;
}

.show-grade {
	.body {
		margin-top: 0px!important;
		vertical-align: top;

		p {
			margin: 10px 10px 0px 0px!important;
		}
	}
	.grade {
		color: #0c5460;
		background-color: #d1ecf1;
		padding: 0.75rem 1.25rem;
		margin: 0px 15px 0px 0px!important;
		border: 1px solid #bee5eb;
		border-radius: 0.25rem;
        font-size: 3rem;
        font-weight: 700;
        min-width: 75px;
        text-align: center;
	}
}
